<mat-progress-bar *ngIf="isLoading" mode="buffer"></mat-progress-bar>
<mat-form-field appearance="outline" class="shpe-gpt-input-box">
  <mat-label>Send Message</mat-label>
  <input
    matInput
    (keydown.enter)="sendMessage()"
    [(ngModel)]="message"
    [disabled]="isLoading"
  />
  <button
    mat-icon-button
    aria-label="Send message"
    matSuffix
    (click)="sendMessage()"
  >
    <mat-icon>send</mat-icon>
  </button>
</mat-form-field>

<mat-toolbar class="custom-toolbar">
  <div class="creator-links">
    <a href="https://www.linkedin.com/in/ismailmustaali" target="_blank"
      >Ismail Mustaali |</a
    >
    <a href="https://www.linkedin.com/in/zainaleeh" target="_blank"
      >Zain Ali |</a
    >
    <a href="https://www.linkedin.com/in/ahsan-wahab" target="_blank"
      >Ahsan Wahab</a
    >
  </div>
</mat-toolbar>